deleteme/fontawesome-free-6.4.2-web.zip
deleteme/oneshots/.DS_Store
deleteme/oneshots/Cymatics - Orchid Clap - Basic.wav
deleteme/oneshots/Cymatics - Orchid Clap - Flam.wav
deleteme/oneshots/Cymatics - Orchid Clap - Loose.wav
deleteme/oneshots/Cymatics - Orchid Clap - Pop.wav
deleteme/oneshots/Cymatics - Orchid Clap - Tone (C).wav
deleteme/oneshots/Cymatics - Orchid Crash - Light Highs.wav
deleteme/oneshots/Cymatics - Orchid Crash - Perfect.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Closed 1.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Closed 2.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Closed 3.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Flam.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Halftime.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Open 1.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Open 2.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Open 3.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Roll 1.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Roll 2.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Roll 3.wav
deleteme/oneshots/Cymatics - Orchid Hihat - Tick.wav
deleteme/oneshots/Cymatics - Orchid Kick - Clean (F).wav
deleteme/oneshots/Cymatics - Orchid Kick - Dancehall (A#).wav
deleteme/oneshots/Cymatics - Orchid Kick - Layered (F#).wav
deleteme/oneshots/Cymatics - Orchid Kick - Tight (G).wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 1.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 2.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 3 (C).wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 4 (C).wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 5.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 6.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 7.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Dry 8.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Wet 1 (C).wav
deleteme/oneshots/Cymatics - Orchid Percussion - Wet 2.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Wet 3.wav
deleteme/oneshots/Cymatics - Orchid Percussion - Wet 4.wav
deleteme/oneshots/Cymatics - Orchid Ride - Flanged.wav
deleteme/oneshots/Cymatics - Orchid Ride - Mysterious.wav
deleteme/oneshots/Cymatics - Orchid Rimshot - Basic.wav
deleteme/oneshots/Cymatics - Orchid Rimshot - Bunker.wav
deleteme/oneshots/Cymatics - Orchid Rimshot - Underwater.wav
deleteme/oneshots/Cymatics - Orchid Rimshot - Wiz.wav
deleteme/oneshots/Cymatics - Orchid Shaker - Banana.wav
deleteme/oneshots/Cymatics - Orchid Shaker - Crisp.wav
deleteme/oneshots/Cymatics - Orchid Shaker - Drew.wav
deleteme/oneshots/Cymatics - Orchid Shaker - Tight.wav
deleteme/oneshots/Cymatics - Orchid Snap - Cream.wav
deleteme/oneshots/Cymatics - Orchid Snap - Hefty.wav
deleteme/oneshots/Cymatics - Orchid Snap - Single.wav
deleteme/oneshots/Cymatics - Orchid Snare - Arrow (G#).wav
deleteme/oneshots/Cymatics - Orchid Snare - Breeze (E).wav
deleteme/oneshots/Cymatics - Orchid Snare - Heft (D#).wav
deleteme/oneshots/Cymatics - Orchid Snare - Lustbug (C).wav
deleteme/oneshots/Cymatics - Orchid Snare - Tonal 1 (F).wav
deleteme/oneshots/Cymatics - Orchid Snare - Tonal 2 (C).wav
deleteme/oneshots/Cymatics - Orchid Snare - Wanted (A#).wav
